<div class="wrapper">
  <div class="loginContainer">
    <h2 class="welcomeTxt">Welcome Back!</h2>
    <input type="text" class="username" placeholder="Email Id" /><br />
    <input type="password" class="pwd" placeholder="Password" />
    <span class="forgot-passText"><i>Forgot Password?</i></span>
    <br />
    <button class="login">Login</button>
  </div>
  <div class="dualColorContainer">
    <div class="white-container">
      <h1 class="logoText">HMA</h1>
    </div>
    <div class="blue-container">
      <div class="imgs firstclip">
        <img src="assets/clipboard-icon.svg" alt="" />
      </div>
      <div class="imgs searchclip">
        <img src="assets/search-clipboard-icon.svg" alt="" />
      </div>
      <div class="imgs secondclip">
        <img src="assets/clipboard-icon.svg" alt="" />
      </div>
      <p class="bottomRight-text">Powered by Kilobyte Technologies Pvt. Ltd.</p>
    </div>
  </div>
</div>

<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary" class="login-heading">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput placeholder="username" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="password" />
      </mat-form-field>
      <button mat-raised mat-button type="submit">Login</button>
    </form>
  </mat-card>
</div> -->
