<div class="container">
  <div class="wrapper">
    <h2 class="logoText">HMA</h2>
    <ul class="navlink-items">
      <li>
        <a href="">
          <div class="nav-iconContainer">
            <img src="assets/dashboard-icon.svg" alt="" />
          </div>
          <p class="nav-link">Dashboard</p>
        </a>
      </li>
      <li>
        <a href="">
          <div class="nav-iconContainer">
            <img src="assets/client-icon.svg" alt="" />
          </div>
          <p class="nav-link">Clients</p>
        </a>
      </li>
      <li>
        <a href="">
          <div class="nav-iconContainer">
            <img src="assets/document-icon.svg" alt="" />
          </div>
          <p class="nav-link">Documents</p>
        </a>
      </li>
      <li>
        <a href="">
          <div class="nav-iconContainer">
            <img src="assets/task-icon.svg" alt="" />
          </div>
          <p class="nav-link">Tasks</p>
        </a>
      </li>
      <li>
        <a href="">
          <div class="nav-iconContainer">
            <img src="assets/payment-icon.svg" alt="" />
          </div>
          <p class="nav-link">Payments</p>
        </a>
      </li>
      <li>
        <a href="">
          <div class="nav-iconContainer logout">
            <img src="assets/logout-icon.svg" alt="" />
          </div>
        </a>
      </li>

      <!-- <div class="logout-iconContainer">
        <img src="assets/logout-icon.svg" alt="" />
      </div> -->
    </ul>
  </div>
</div>
